<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="flex flex-col gap-10">
        <%- include('partials/navbar') %>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-items-center w-[1000px] max-w-full self-center gap-16 sm:gap-x-11 p-2">
            <% for (let i = 0; i < 10; i++) { %>
                <a href="/pokemon/0001" class="w-3/4 sm:w-60 h-64  flex flex-col gap-3 rounded-lg bg-rosePink hover:scale-110">
                    <div class="flex flex-col h-2/3 w-auto">
                        <div style="background-image: url(images/bulbasaur.png);" class="h-full bg-contain bg-center bg-no-repeat bg-beige-500"></div>
                        <div class="px-2 font-medium text-white">#0001</div>
                    </div>
                <div class="flex flex-col px-2 text-white grow">
                    <div class="font-black text-2xl">Bulbasaur</div>
                    <div class="text-sm">Grass</div>
                </div>
                </a>
            <% } %>
        </div>
    </div>
</body>
</html>